[2016-03-15 03:50] Meorge opened #19 "Argument labels '(url:)' do not match any available overloads"
Trying to use this code:

[code]
I get the error "Argument labels '(url:)' do not match any available overloads", from that fourth line. Any ideas how I can fix this? (This is a sample of my code - I can provide the rest if need-be)

[2016-03-15 12:44] mkoehnke commented on #19
Hi. First of all, you need to remove the parameter name __url:__ from the _open()_ function.
Secondly, the _open()_ function doesn't actually start the process of loading the website. It returns a so called _Action_ that is responsible for doing that. Take a look at the Usage section [(Manual Actions)](https://github.com/mkoehnke/WKZombie#manual-actions) for more information.

Your code should loo

[2016-03-15 12:44] #19 closed

[2016-04-02 06:40] TofPlay opened #21 "Carthage"
Hi,
It's will be great to add [Carthage](https://github.com/Carthage/Carthage) support

Take a look at these articles:
- [Ruthlessly Simple Dependency Management with Carthage](https://realm.io/news/swift-dependency-management-with-carthage/)
- [Carthage Tutorial: Getting Started](https://www.raywenderlich.com/109330/carthage-tutorial-getting-started)
- [Making Carthage-compatible Frameworks with

[2016-04-02 16:37] mkoehnke commented on #21
Hi, thank you for the article links! Carthage is definitely something I want to support. To do this, it might be necessary to create a new project for the WKZombie files itself. I'll look into it.

[2016-04-03 18:37] insidegui opened #23 "click() assumes links?"
I have an use case where I need to click a `<button>` on the page. I tried using `>>> click()`, but It looks like that action assumes the target to be an `<a>` tag. How can I use WKZombie to click a button on the webpage?

[2016-04-04 06:22] Dershowitz011 commented on #21
@mkoehnke I'd happily do it for you. If you don't mind.

[2016-04-04 07:03] mkoehnke commented on #21
@Dershowitz011 Thanks for your offer. Sure. Just make a pull request with a short description of what you've changed. Thanks!

[2016-04-04 07:05] Dershowitz011 commented on #21
There's really nothing to change @mkoehnke . Just add all the classes you've made already to a framework and share it. That's all. But I am not getting how to import hpple. :disappointed:

[2016-04-04 07:12] mkoehnke commented on #21
@Dershowitz011 As a dependency of WKZombie, does hpple have to support Carthage as well? Because it currently doesn't.

[2016-04-04 07:16] Dershowitz011 commented on #21
No it doesn't need Carthage support. If your framework has it as a dependency, it's enough!

[2016-04-04 07:21] mkoehnke commented on #23
I see your problem. No, with the current implementation, only Links are supported by the click method. I haven't thought this through, but one possible solution would be to move most of the HTMLLink implementation into a base class for "clickable" objects and create an additional HTMLButton class. Then, the click() method needs to be adjusted to take "clickable" objects as parameter.

[2016-04-04 13:57] insidegui commented on #23
It would be good to have that since the impossibility to click links made me have to implement what I wanted manually instead of using WKZombie :(

[2016-04-06 15:36] mkoehnke commented on #23
@insidegui I've created a pull request where I introduce a *press()* method, that you can use to click a <button>. Note: It's not extensively tested yet. See #24. Let me know if that works for you.

[2016-04-07 09:45] mkoehnke commented on #23
Fixed with #24

[2016-04-07 09:45] #23 closed

[2016-04-08 15:33] mkoehnke commented on #21
Implemented with pull request #25

[2016-04-26 06:02] amosavian opened #27 "Screenshot"
Hi,
Is there anyway to have screenshot of rendered content?

[2016-04-26 20:19] mkoehnke commented on #27
@amosavian No, currently not I'm afraid. I did try to implement it a while back, but it seems that WKWebView has a bug that results in blank images when taking a snapshot. I'll look into it as soon as I find the time.

[2016-05-10 17:22] mattti opened #29 "Using === doesn't compile"
Hi!
I'm trying to use WKZombie with following code:
[code]

However XCode gives me

`Binary operator '===' cannot be applied to operands of type 'Action<[HTMLElement]>' (aka 'Action<Array<HTMLElement>>') and '(Result<HTMLTableRow>) -> ()'`

The handleResult method is identical to the method in the example project.
I haven't tried the whole example project, but when I replace my file with the conte

[2016-05-10 19:43] mkoehnke commented on #29
@mattti Hi! Your code looks good and it compiles with the latest revision. Are you using CocoaPods by any chance? I made some changes to the === Operator recently and it's not included in the 0.9.3 release. I usually collect a few changes before I release a new version. However, you might get around this issue by using :branch => "master" in your ``Podfile``.

[2016-05-10 21:01] mattti commented on #29
@mkoehnke That helped. Thanks!

[2016-05-10 21:21] #29 closed

[2016-05-17 17:23] ceeK opened #30 "Limited to iOS 9.1?"
Is there a specific reason this pod can't be used below iOS 9? I have an iOS 8 and up project that could benefit from WKZombie :)

[2016-05-18 16:59] mkoehnke commented on #30
@ceeK Hi Chris. There are some small iOS9 dependencies in the WKWebView area. Those could be  easily resolved, I think. But the main reason for this limitation is that I didn't want to invest too much time in maintaining multiple deployment targets (considering how buggy iOS8 seems to be). However, feel free to make a pull request and I'll have a look! Thanks.

[2016-05-26 21:34] mkoehnke commented on #27
Fixed with #31

[2016-05-26 21:34] #27 closed

[2016-05-26 21:35] mkoehnke commented on #30
Closed due to inactivity.

[2016-05-26 21:35] #30 closed

[2016-05-29 01:28] jaloo555 commented on #29
Hi,
I tried using WKZombie for this code

browser.open(url)

    === handleResult

and it returns the same error as above.  All the methods are the same. Any ideas?
Thanks!

[2016-05-29 15:31] jaloo555 opened #32 "=== problem"
Hi,
I tried using WKZombie for this code

browser.open(url)

=== handleResult

and it returns the error:
 Binary operator '===' cannot be applied to operands of type 'Action<[HTMLElement]>' (aka 'Action<Array<HTMLElement>>') and '(Action<[HTMLTableRow]>) -> ()'

. All the methods are the same with the sample files and I am sure I have the update version. Any ideas?
Thanks!

[2016-05-29 20:04] mkoehnke commented on #32
Hi. I made some breaking changes to the `===` operator recently. Could you please try to change the signature of your handleResult function to this:

`func handleResult(result: Result<[HTMLTableRow]>)`

Hope that helps.

[2016-05-30 03:18] jaloo555 commented on #32
yea that works, thanks a lot!

I found another problem with my test app and would really need some help.. so it went through and i did a browser.dump(). However I found out that it just fetched an HTML source file where the truncated tags are all missing..

for example the phone it loads

[code]
but when I inspect the source code, there are html tags within <div id="app-style"></div> that I can't

[2016-05-30 06:57] mkoehnke commented on #32
Maybe you're trying to access the tags before the page loading (including JavaScript / Ajax) has completed? Did you try to increase the number of waiting seconds using the `.Wait()`-PostAction?

[2016-05-30 16:45] jaloo555 commented on #32
Ah thanks, it worked!

[2016-05-30 16:45] #32 closed

[2016-06-01 00:40] jaloo555 opened #34 "Form submission"
Hello, is it possible to submit a form without the form's name or just with the id?

I tried doing:
browser.get(by: .Id("theId") ) or browser.get(by: .Name(""))

and the browser.dump just returns ... after it returns the html of the page.

Sorry for having too many questions and thanks in advance!

[2016-06-01 21:00] mkoehnke commented on #34
Hi @jaloo555. Thanks for submitting this issue! I was able to reproduce the situation where I couldn't submit a form using the ID tag. I've added a fix and a test to #33. Please take a look at the `feature/swap`-branch and check if that fixes your issue. I'll merge it as soon as I've made some more tests.

[2016-06-02 16:20] jaloo555 commented on #34
Hi @mkoehnke , I did
`        >>> browser.get(by: .Id("site-login-form"))

for `<form id="site-login-form" action="/podium/blank.html">`
and the automation doesn't proceed..

I'm not sure whether it's an error on my side of accessing the wrong form  since there is an empty form wrapping around that or it's the bug still existing.

Thanks!

[2016-06-02 16:43] jaloo555 commented on #34
I looked up online and I would suggest adding `documents.forms[0].submit()` to make it easier

[2016-06-05 10:23] antoine-ki commented on #21
Hi,
The hpple framework dependency is causing an issue:
`Could not pick a version for github "mkoehnke/hpple", due to mutually incompatible requirements:
	"31e334f56953d8ff38c4d36910ea364d4f465fa6"
	"master"`

I cant install WKZombie using carthage.

Help
Thank you 💃

[2016-06-06 06:25] mkoehnke commented on #21
Hi @antoine-ki. Thanks for trying out WKZombie! Unfortunately, I can't reproduce the issue you're seeing. Could you please be more specific about the content of your `Cartfile` and your `carthage` parameters.

[2016-06-06 06:29] antoine-ki commented on #21
Hi, Sure,

Cartfile Content:
`github "mkoehnke/WKZombie"`

Cartfile update:
`carthage update --platform iOS`

I have a Regular Carthage installation

When i run the update command i get:
`*** Fetching WKZombie
*** Fetching hpple
Could not pick a version for github "mkoehnke/hpple", due to mutually incompatible requirements:
	"31e334f56953d8ff38c4d36910ea364d4f465fa6"
	"master"`

[2016-06-06 06:37] mkoehnke commented on #34
@jaloo555 Very strange. It should work with .Id("site-login-form"). Maybe some HTML-generating JavaScript hasn't been executed yet. Have you tried adding a .Wait() period to submit?

Alternatively, can't you just use something like this to get the first HTML form in the current document:
`>>> browser.get(by: .XPathQuery("//form[1]")) >>> browser.submit`

[2016-06-06 06:59] mkoehnke commented on #21
@antoine-ki Strange. Please try to add a tag number to your Cartfile
`github "mkoehnke/WKZombie" "0.9.5"`

and run carthage again:
`carthage update --no-use-binaries --platform iOS`

[2016-06-06 07:03] antoine-ki commented on #21
It Worked!

I added the version number to the Cartfile.
Didn't add --no-use-binaries

Can you tell me why the error was occurring?

Thank you 👯

[2016-06-06 07:17] mkoehnke commented on #21
@antoine-ki It looks like that Carthage doesn't work that well if a framework dependency (hpple) is referenced via branch name. Using a tag seems to be the way to go. I've created a new WKZombie version (0.9.5) that does that. As Carthage always uses the latest tag by default, `github "mkoehnke/WKZombie"`should work now as well. Could you please try that with your setup?

[2016-06-06 08:25] antoine-ki commented on #21
Worked! Thank you.

Side question: (i dont want to open an issue for it)
Lets say i want to get the content of an input that i filled

I do:
`        browser.open(NSURL(string: "https://www.google.com")!)

then `=== testRes

function testRes(){}`

What should the input of the function be? HTMLElement? I tried it it gives me an error

[2016-06-06 21:26] mkoehnke commented on #21
@antoine-ki I would like to avoid mixing issues / questions. Feel free to open a new issue anytime. Even if it's just a question.

Anyway. Regarding your question. Your code should look something like this:
[code]
[code]
or
[code]

Let me know if that helps and I can close this issue.

Thanks.

[2016-06-08 15:09] #21 closed

[2016-06-08 15:09] #34 closed

[2016-07-18 18:18] EVPilot opened #35 "Hpple file not found in bridging header"
I get hpple file not found inside of bridging header.

[2016-09-09 11:56] mkoehnke commented on #35
Hi @EVPilot. Sorry for the late response. I'll close this issue for now. If you're still having trouble integrating WKZombie, please open a new issue with a detailed description of your setup. Thank you.

[2016-09-09 11:56] #35 closed

[2016-09-09 15:39] EVPilot commented on #35
I gave up on it.

[2016-09-23 16:31] ziadtamim opened #39 "Is their a way to render to a specific view?"
Great framework!!

I've searched for a way to render the automated interaction on another view other the main one but without luck. Is there a way to render on a specific view?

[2016-09-23 20:40] mkoehnke commented on #39
Hi @ziadtamim Thank you! Could you please elaborate a little more on what you're trying to achieve? Do you want to add the rendering WKWebView as a subview to a specific view and make it 'visible' for the user to see (or something like that)?

[2016-09-26 08:48] ziadtamim commented on #39
@mkoehnke That's correct.

[2016-09-27 12:55] ziadtamim commented on #39
@mkoehnke Is it possible?

[2016-09-27 14:14] mkoehnke commented on #39
@ziadtamim No ... this is currently not possible. But this might also be an interesting feature for debugging. As I'm currently occupied with other stuff, it might take a few days to implement a generic solution, though.

[2016-10-12 23:58] MasterSwift opened #40 "Does WKZombie need a View Controller class to work?"

[2016-10-13 00:38] #40 closed

[2016-10-13 12:18] CaptainMack opened #41 "Get all HTMLRows in HTMLTable on page"
Hi,

I'm trying to convert my backend scraper to an on-device scraper using your library, but I'm finding it hard to understand the documentation without examples, how would one use WKZombie to login and get a HTML Table, and how do you debug it? I can't seem to get document.title to print anything other than nil. I'm opening an URL that will redirect me to a page, where I can login.

I have the f

[2016-10-13 17:54] mkoehnke commented on #41
Hi Christian,

Thank you for trying out WKZombie. You're absolutely right. The documentation and better debugging is something that is always on the TODO list, but you know how it is 😬. Will try to improve that soon.

Anyway. Do you have the Logger enabled? If so, you should see output like this:

[code]
 This should give you a hint of what action was executed before it failed. Another way is to c

[2016-10-14 08:59] CaptainMack commented on #41
Thanks for your long and helpful reply @mkoehnke,

How does WKZombie handle redirect? E.g.

I open URL #1, which immediately redirects me to URL #2, but the logger only shows the first page, which is empty

    [.<html><head></head><body></body></html>...]

I see that there's a wait option for postActions only, is there something else for opening URLs? or awaiting redirection?

[2016-10-17 17:47] avisual opened #42 "question - trying to fill in an angular form"
open(url)

but the js is not triggering the handler as password is rejected. this works in console in chrome

pointers please

[2016-10-17 20:34] avisual commented on #42
solved problem

open(url)

[2016-10-17 20:34] #42 closed

[2016-10-18 10:04] avisual commented on #41
Run the inspect command after your execute. I had this same issue with an angular form and model

execute("loginPassword.value='password'")
execute("angular.element($('#loginPassword')).triggerHandler('input')")
execute("angular.element($('#submitButton')).triggerHandler('click')")
inspect

Hope this helps

[2016-10-24 08:55] avisual opened #43 "Basic Authentication"
Is there any way of doing this?

[2016-10-24 20:06] mkoehnke commented on #41
Hi Christian,

I am so sorry about the late response. I have too much on my plate right now :-(

Did you find a solution for this issue?

Can you elaborate a bit more on why you think that webpages treat WKZombie as a JavaScript-disabled browser? Also, the form-snippet you've posted, is that the actual HTML source code or did you modify it to try working around that issue?

I would like to reprodu

[2016-10-24 20:13] mkoehnke commented on #43
Hi @avisual . Sorry, there's currently no way to do this. But this is definitively a very important feature to have. I am surprised that nobody asked that before. I'll publish a branch (hopefully tomorrow) with the ability to handle Authentication Challenges. Stay tuned.

[2016-10-24 20:30] avisual commented on #43
Cool Thanks,

How would I add that to a new Xcode project? any chance of a pointer as been using swift for about 5 days

[2016-10-24 21:53] avisual opened #44 "Framework"
Having built the WKZombie project and taken the framework from the Products folder and imported this into my own project. It tells me that WKZombie is unavailable and cannot find the swift class. Have I built your project incorrectly or am I doing something wrong if i want to use this on an IOS project?

[2016-10-24 22:18] avisual commented on #44
Found issue, missing x86_64

[2016-10-24 22:18] #44 closed

[2016-10-25 19:02] mkoehnke commented on #43
Take a look at #45 and the branch `authentication`. It's not final yet, but you can try it out.

For enabling basic authentication, just add an authentication handler to your WKZombie instance like this:
[code]

Let me know if it works.

[2016-10-25 21:56] avisual commented on #43
Amazing! Thanks for the prompt response. Its been a bit of an uphill climb switching from Java to Swift 3 this week.

John

[2016-10-26 05:31] MasterSwift opened #46 "Chaining Functions"
I wanted to know if it was possible for me to chain different scrapes. Modifying the example, you can see what I mean. Also, it would be cool know how to get the current url and pass it to the next function

[code]

[2016-10-26 05:36] MasterSwift opened #47 "Creating Action Functions"
I want to know how do I create actions so I can continue using headless browser even after calling the function. In a sense, I want to mimic the WKZombie methods but on a parsing function.

[2016-10-26 12:37] MasterSwift commented on #47
I also get this error sometimes. Strangely it shows up even though it has succeeded in parsing the HTML element before

[code]

[2016-10-26 20:14] avisual opened #48 "HTTPS request unable to parse"
Cancelling Rendering - Optional("REQUEST\nhttps://192.168.0.1:12380/")
.2016-10-26 21:09:43.529 DYC[12587:442455] Unable to parse.

I can give you an external address to this if you need it, it is using a self sign cert just wondering how to get round this

[2016-10-28 13:27] avisual commented on #43
Thanks That works great

[2016-10-28 13:27] #43 closed

[2016-10-28 16:08] mkoehnke commented on #48
Hi @avisual . I haven't tried it yet, but maybe this works:

[code]

Let me know. Thanks!

[2016-10-29 09:43] avisual commented on #48
No Afraid that didn't work. same issue, tried increasing time out to 60 seconds just incase it was slow to respond.

[2016-10-29 21:15] mkoehnke commented on #48
Hi @avisual . So, I finally found the time to test it myself. The code I've posted above should work, but only in combination with the `NSAppTransportSecurity` setting in the Info.plist. For debugging, you can set `NSAllowsArbitraryLoads` to `YES`. A better way is to use `NSExceptionDomains` like this:

<img width="422" alt="screen shot 2016-10-29 at 11 07 33 pm" src="https://cloud.githubuserconte

[2016-10-29 22:16] avisual commented on #48
REQUEST
https://xxx.xxx.xxx.xxx:12380
[.An SSL error has occurred and a secure connection to the server cannot be made.
]

<html><head></head><body></body></html>
.

[2016-10-30 20:20] mkoehnke commented on #48
I'm not an expert regarding **App Transport Security**, but it should work with self signed certificates. Maybe it's a misconfiguration issue. Anyway, using the option `NSAllowsArbitraryLoads` should work in any case:

<img width="396" alt="screen shot 2016-10-30 at 9 08 08 pm" src="https://cloud.githubusercontent.com/assets/1428877/19839680/7adec9b0-9ee6-11e6-8985-4a42323a19c7.png">

Try it and l

[2016-11-09 21:27] mkoehnke commented on #48
Hope that helped. Will close this ticket for now due to inactivity. Feel free to reopen it if you're still seeing this issue.

[2016-11-09 21:27] #48 closed

[2016-11-09 21:27] mkoehnke commented on #41
Hope that helped. Will close this ticket for now due to inactivity. Feel free to reopen it if you're still seeing this issue.

[2016-11-09 21:27] #41 closed

[2016-11-18 18:23] kainliu opened #50 "How to disable JavaScript in WKZombie"
So far there is not an option to disable JavaScript:
[code]
Under particular circumstances I would like to access pages without enabling JavaScript, and then get the content with xPath.

Thanks for your reply in the twitter.

[2017-02-05 02:14] JaDenis opened #51 "Please consider making a Vapor module! Vapor community needs it"
for i in (0..<9000) {
    print(self.title)
}

[2017-02-06 09:03] mkoehnke commented on #51
Haha :-) Thanks for the suggestion! I haven't worked with Swift Vapor yet, but I'll certainly look into it.

[2017-02-07 23:51] rchatham opened #52 "Swift Package Manager - unsupported layout"
Hi I am receiving the following whenever I try to download using SPM.

`error: the package has an unsupported layout, unexpected source file(s) found: /Users/Reid/Developer/airbnb_wishlister/Packages/WKZombie-1.0.6/Tests/Tests.swift
fix: move the file(s) inside a module`

[2017-02-08 16:54] mkoehnke commented on #52
Hi! Thanks for reporting this! It looks like they change something with the latest release of SPM. I'll look into this.

[2017-02-08 19:28] rchatham commented on #52
Thank you!

[2017-02-09 07:26] mkoehnke commented on #52
Take a look at [1.0.7](https://github.com/mkoehnke/WKZombie/releases/tag/1.0.7) and let me know if it works. Thanks!

[2017-02-19 06:23] kor45cw opened #54 "why not support ios9 in swift3"
why not support ios9 in swift3

[2017-03-01 04:13] gbmksquare opened #55 "Show network activity indicator"
When `WKZombie` is loading a webpage or fetching content online, it would be good to show network activity indicator on the status bar by internally increasing and decreasing network activity count.

Or, `WKZombie` can send notifications to allow users handle network activity indicator themselves.

[2017-03-02 08:40] mkoehnke commented on #55
Hi @gbmksquare You're absolutely right! Good point. Will think of something. Thanks!

[2017-03-02 08:42] mkoehnke commented on #52
If not fixed, please reopen.

[2017-03-02 08:42] #52 closed

[2017-03-02 08:51] mkoehnke commented on #54
Hi @kor45cw WKZombie is compatible with iOS9.1 and higher. The main reason for this limitation is that I don't want to invest too much time in maintaining multiple deployment targets. Hope that helps!

[2017-03-02 08:51] #54 closed

[2017-03-02 08:52] mkoehnke commented on #47
Sorry for the late response. Hope you found an answer in the meantime. If not, feel free to reopen this issue. Thanks!

[2017-03-02 08:52] #47 closed

[2017-03-02 08:54] mkoehnke commented on #46
Hey @MasterSwift. Sorry for the late response. If you still have questions, feel free to reopen or create a new issue. Thanks!

[2017-03-02 08:54] #46 closed

[2017-03-03 11:23] mkoehnke commented on #55
I added a ``showNetworkActivity`` property.  See [1.0.8](https://github.com/mkoehnke/WKZombie/releases/tag/1.0.8).

[2017-03-03 11:23] #55 closed

[2017-03-04 02:33] gbmksquare commented on #55
Great!

[2017-03-25 13:34] hugolundin opened #57 "How to follow redirect?"
It seems like WKZombie does not follow the redirect when I press a button on my webpage. It logs

[code]

How can I follow the new redirect?

[2017-03-27 07:45] #57 closed

[2017-03-27 07:47] hugolundin opened #58 "URL unable to parse/Bypass robots.txt"
I have an https url that isn't able to parse. Using other methods, I've needed to bypass robots.txt, but it does not seem exist any setting for this in WKZombie?

[2017-03-27 20:00] mkoehnke commented on #58
Hi @hugolundin No, currently there's no such setting. What are you trying to accomplish? Maybe changing the user agent or adjusting the http headers might help?

[2017-03-28 12:46] hugolundin commented on #58
I am trying to parse a website for some urls. It has worked fine using selenium with PhantomJS, and also with Mechanize in Python, but when I try doing it with WKZombie, the website loads until it logs "Unable to parse". The reason I thought about robots.txt was because Mechanize complained about it before I activated their setting to bypass it.

Do you have any suggestions in what way there are c

[2017-04-08 23:15] subzerofun opened #59 "Option for additional http headers"
It would be great if you could set http headers like Cookies, etc.

You've already added support for the user-agent via `browser.userAgent` – could you also include the rest of the standard http headers?

[2017-04-13 20:35] odonckers opened #60 "Update to Swift 3?"
This framework looks perfect for what I've been looking for!  The only problem is that my app is made in Swift 3, and yours seems to be older than that.  I installed the Cocoapod, and there were 99 errors!  The reason is because it needs to be updated.  So is there an update to WKZombie for Swift 3 comming anytime soon?

[2017-04-22 08:43] petripartanen commented on #41
Submit method wouldn't work on above mentioned form as the function requires form to have `id` or `name` attribute.

HTMLForm.swift:69
[code]

[2017-04-27 09:50] fishfisher commented on #60
I'm wondering about the same thing:) Any update on this? Thanks!

[2017-04-27 10:09] fishfisher opened #61 "Build errors with latest Swift syntax"
Hi! Any plans to update this framework to the latest Swift syntax? Looks great!

[2017-04-27 13:08] fishfisher commented on #61
Sorry, my bad! I didn't include 'source 'https://github.com/CocoaPods/Specs.git'' in my PodFile and it installed a previous version!

[2017-04-27 13:08] #61 closed

[2017-04-27 19:41] mkoehnke commented on #60
Hi @odonckers WKZombie is Swift 3.1 compatible. Maybe this helps: #61 ? Thanks!

[2017-04-28 00:35] fishfisher commented on #23
Hi! What was the solution here? I'm trying to get click() to work, but I am not able to figure it out. I am able to get something by using >>> execute("document.getElementById(\"buttonLogin\").click();"), but the chaining after that does not work.

[2017-05-01 20:44] odonckers commented on #60
Oh!  Thank you @mkoehnke so much.  I need to learn to look for something before I ask, sorry for the inconvenience!

[2017-05-01 20:44] #60 closed

[2017-05-02 14:14] fishfisher opened #62 "Get HTML of current page."
I'm playing around with WKZombie and I must say I enjoy it a lot! Great work.
A few questions have come up and I'm wondering if I could get some input.

- What is the best/ most efficient way to get all the HTML of the current page?

I have tried `inspect >>> execute("document.documentElement.outerHTML.toString()")` where I evaluate the JavaScriptResult, but it's not ideal.

- If I'm logging in to

[2017-05-11 17:04] lorismaz opened #63 "'The keyWindow or contentView is missing' message before scraping"
When testing the command line Example from the repo, this message gets printed in the console, before doing anything: `The keyWindow or contentView is missing.`, then the script works as intended.

What does it means and how can we prevent this to show?

[2017-05-20 01:06] avisual commented on #46
did you work out how to do this @MasterSwift

[2017-05-30 10:13] fishfisher commented on #63
Are you using storyboards? If so, check if it helps to embed your viewcontroller in a navigation controller.

[2017-06-19 02:00] phirestalker opened #64 "Cannot check reference equality of functions; operands here have types 'Action<HTMLElement>' and '(Result<[HTMLElement]>) -> ()'"
get the error above for the following code

`    func enterContests()
    {
        open(URL(string: "https://prizegrab.com")!)

            === handleResult
    }

    func handleResult(_ result: Result<[HTMLElement]>) {
        switch result {
        case .success(let value): errors = "no errors"
        case .error(let error): errors = error.debugDescription
        }
    }
`
the line ===handl

[2017-06-25 22:16] billylo1 opened #65 "open method not visible when using WKZombie in Objective C project"
Hi, after adding WKZombie to my podfile and adding @import WKZombie;, I can invoke some methods on the WKZombie.shareInstance, e.g. dump, setTimeoutSeconds, but the essential open method is not visible for some reasons.

Would you have any hints on how to solve this?

thanks.

[2017-06-28 13:10] mkoehnke commented on #65
Hi @billylo1 Thanks for reporting this. You're right, there seems to be an issue with the extensions not being visible in Objective C code. I'll look into it.

[2017-06-28 14:36] billylo1 commented on #65
Thanks!  Looking forward to it!

[2017-06-28 20:00] mkoehnke commented on #65
Sorry for the confusion! I forgot that Swift generic functions are not supported by Objective-C. So this is the correct behaviour. However, you should be able to add a Swift file to your Objective-C project ([Mix and Match](https://developer.apple.com/library/content/documentation/Swift/Conceptual/BuildingCocoaApps/MixandMatch.html)) and use WKZombie in there. Hope that helps!

[2017-06-28 20:22] billylo1 commented on #65
I did try that.  Importing the WKZombie-swift.h to make WKZombie visible to the objective C code.  But I can't find a way to invoke "open".  Are you able to make it work in Xcode?

[2017-06-28 20:36] mkoehnke commented on #65
Just add a Swift file (e.g. Test.swift) to your project and simply add "import WKZombie". Create a class/function, do all the headless browsing there and hand the result back to your Objective-C code.

[2017-07-10 22:03] jdevon91 opened #66 "Example Project Outdated"
Apple Developer Portal is no long valid for this example.

[2017-07-10 22:20] mkoehnke commented on #66
Hi @jdevon91 Thanks for reporting! It's already fixed and will be available once I merge #67. Thanks!

[2017-07-15 17:32] fishfisher opened #68 "UI API called on a background thread - iOS 11 - Xcode 9"
Hi!
FYI:
WKZombie unfortunately does not work on iOS 11. The NSOperationQueue is of type USER_INITIATED and calls to WKWebView requires to be on the main thread.

With the new Main Thread Checker in XCode 9 it prints out the following in the console:

- Main Thread Checker: UI API called on a background thread: -[WKWebView isLoading]
- Main Thread Checker: UI API called on a background thread: -[W

[2017-07-18 19:12] mkoehnke commented on #66
Merged #67.

[2017-07-18 19:12] #66 closed

[2017-07-18 19:22] mkoehnke commented on #68
Hi @fishfisher Thank you very much for reporting this! I'll have a look.

[2017-07-20 18:11] avisual opened #69 "how can I pass WKZombie between ViewControllers"
How can I pass browsers between view controllers and maintain state and context?

[2017-07-20 18:11] avisual commented on #69
override func prepare(for segue: UIStoryboardSegue, sender: Any?) {

        if segue.identifier == "wifiSettings" {
            if let toViewController = segue.destination as? WifiSettingsVC {
                toViewController.browser = browser
            }
        }
    }

does not seem to have context when passed

[2017-08-05 08:14] luisdil opened #70 "Receiving "Cancelling Rendering" Message when trying to log in to certain website"
I am trying to log in to a certain website with the following code:

`        open(url)

            === output`

After it submits the login form it fails to render the new page form some unknown reason...

[2017-08-09 23:52] avisual commented on #69
I've tried using a new wkzombie instance. But it does not seem to work as expected.

When I open a new view controller using a new or passed instance of wkzombie it seems to be none responsive. Am I stuck in a closure or wrong thread

Any help from other developers would be greatly appreciated.

[2017-08-13 21:07] avisual commented on #70
I am getting this also. I see this when using the simulator. I cannot seem to  catch the error and once I get it for one url i continue to get it. closing the simulator does not fix the problem. restarting the mac seems to be the only fix

[2017-08-13 21:11] avisual commented on #62
if you call >>> browser.inspect() === processPage

func processPage(result: HTMLPage?) {
      result.description // this is your full html
}

[2017-08-13 21:12] avisual commented on #62
As to validating if you are logged in, you will need to do this by checking the page for something show you that you are logged in

[2017-08-13 21:13] avisual commented on #63
@fishfisher can you explain a little more please?

[2017-08-14 08:16] fishfisher commented on #63
@avisual Are you seeing this printed to the log as well? For me the log went away when I embedded my root view controller in storyboard to a navigation controller. For me the keyWindow was nil when my main view controller was root.

[2017-09-11 09:52] 14T opened #72 "ERROR: "Result' is ambiguous for type lookup in this context" with Alamofire in same project"
Thanks for the library!

I added WKZombie to the already existing project where [Alamofire](https://github.com/Alamofire/Alamofire) was already being used.

I found that there is a collision of keyword **Result** in both the libraries.
Getting error: '**Result' is ambiguous for type lookup in this context**

 #71 Submitted a pull request to suggest a possible fix

[2017-09-18 15:16] revanthmonsanto commented on #68
Yes, We have the same issue too. Hope we have working version ASAP. The app crashes now.

[2017-09-22 07:58] MatthiasB94 commented on #68
Hi @mkoehnke any news on this? We're seeing the same issue and would love to know if you found a fix.

[2017-09-22 08:27] mkoehnke commented on #68
Hi guys! Sorry for the late response. I am currently working on a fix. My plan is to release a new version by the end of the week. Sorry for the inconvenience. I didn‘t have much time lately to make WKZombie iOS11 compatible. For any other iOS11 related issues, please open another issue and I‘ll try to include a fix in the next release as well! Thanks!

[2017-09-23 21:02] mkoehnke commented on #72
Hi @14T! Thank you for reporting this issue and submitting a pull request. I really appreciate the effort! I wouldn't move the `Result` enum to the WKZombie class though, as I consider it to be part of the module and not that particular class. In addition, the function signatures would be much harder to read. Anyway, I added a FAQ section to the README, that describes how to properly work around t

[2017-09-23 21:02] #72 closed

[2017-09-23 21:08] mkoehnke commented on #68
Hi. I've created a new release [1.1.0](https://github.com/mkoehnke/WKZombie/releases/tag/1.1.0) that should fix the crashes seen in iOS11/Xcode9. It's still a pre-release, so please let me know if that fixes the issue on your side. Thanks!

[2017-09-23 21:09] #65 closed

[2017-10-22 21:40] MartinMannhart opened #74 "Receiving Error when building WKZombie"
I have received the following error when building WKZombie (Swift Version 4.0 - macOS High Sierra 10.13):

/WKZombie/Renderer.swift:99:47: error: method 'shared' was used as a property; add () to call it
                if let window = NSApplication.shared.keyWindow, let view = window.contentView {

Any help would be greatly appreciated.

[2017-11-17 00:22] kibiz0r opened #75 "Build error: 'shared' is unavailable: Use view controller based solutions where appropriate instead."
[code]

[code]

[code]

iOS 11.1
Xcode 9.1

[2017-12-02 13:07] Wiingaard opened #76 "Submit form doesn't work"
Hey,
I'm planning to use WKZombie in an upcoming project. I'm trying to login to a website, by setting the value attributes of some input elements and submit a form. I Have experience as an iOS developer, but I'm quite new to the web development (HTML/CSS/Javascript), so maybe I'm misunderstanding something. I'm using the same process as the WKZombie Demo Application.

[code]

This gives me the fo

[2018-01-05 21:46] dboydor opened #77 "Make version 1.1.0 released version"
When I pull in podfile for my project with:

pod 'WKZombie'

I get version 1.0.8 which has compile errors with Swift 4 (as you might imagine!)

Can you make 1.1.0 the official release and push it to the pod file repo?

[2018-01-05 21:48] #77 closed

[2018-01-05 21:50] mkoehnke commented on #77
Done. Hope that helps!

[2018-01-26 03:03] aaronfranco opened #78 "AppStore Approval"
Have you successfully published apps to the AppStore that include this framework?

[2018-01-26 14:06] aaronfranco commented on #64
same problem here
[code]

[2018-01-29 21:45] aaronfranco opened #79 "Button NIL even though Get returns the Button"
[code]
this returns "nil" and I cannot figure out why. When I look at the logs, it says the node was nil.

[code]

The following code fetches the submit button just fine, which is why I'm surprised the snippet above doesn't work. What am I missing?
[code]

[2018-03-03 16:11] mRs- commented on #75
Fixed in https://github.com/mkoehnke/WKZombie/pull/80

[2018-03-03 19:05] #75 closed

[2018-03-03 19:12] #68 closed

[2018-06-06 03:18] MasterSwift commented on #76
Have you figured this out @Wiingaard ? If you are working with a website built with asp , it may be the cause of the error. check https://github.com/dejanstojanovic/MVC-Honeypot  . let me know if you find a solution!

[2018-06-17 20:04] dboydor commented on #78
I just got my app approved for MacOS:

https://itunes.apple.com/us/app/library-express/id1389634422?mt=12

[2018-08-20 13:22] mashikag opened #81 "PostAction.wait after execute JavaScript?"
Is there any way to make the browser instance wait after .execute JavaScript?

I am executing my own javascript. From the network requests in my MITM proxy I can see the expected requests being executed from the click of the login button. However I believe the result is handled too early. The body of the page is still the one of the browser before executing the document.getElementById('ContentPlac

[2018-09-13 15:05] scherven commented on #64
I also get this error, using the example code: has this error been fixed?

[2018-09-24 21:14] jeffreyyu0602 commented on #70
Anyone solved this problem? I am still getting the problem even if I restart my mac.

[2018-11-20 20:56] mazloumi opened #82 "How to run the Example"
Hi all, I tried to run the example but get the following issue:

[!] CocoaPods could not find compatible versions for pod "WKZombie":
  In Podfile:
    WKZombie (from `../`)

Specs satisfying the `WKZombie (from `../`)` dependency were found, but they required a higher minimum deployment target.

Any suggestions?

[2018-11-20 20:57] mazloumi commented on #82
Installing the pre release of CocoaPods 1.6.0.beta.2 and running pod update WKZombie in the Examples folder I get this;

Pod installation complete! There is 1 dependency from the Podfile and 2 total pods installed.

[!] The platform of the target `Example iOS` (iOS 9.1) may not be compatible with `WKZombie (1.1.1)` which has a minimum requirement of iOS 10.3 - macOS 10.12.

[!] The platform of the

[2019-02-05 15:27] acotilla91 opened #84 "How to intercept all http traffic?"
Is there any way to intercept all http(s) traffic? Thanks.

[2019-02-16 20:14] Rballesteros commented on #82
I was also having trouble running the example. First, go to the project build settings in Xcode and delete the build setting "always embed swift standard libraries". Second, I couldn't get the cocoapod to  build locally so I just replaced the import cocoapod to just download it and install it. After that I was able to run the example project.

[2019-02-16 22:25] Rballesteros commented on #64
This is not an error in the library it is working as intended. If you look at the error it is stating that you do not have the correct type in the result function. The last get function in your chain is returning a HTMLElement  and in your result function you are putting an array of HTMLElement ( [ HTMLElement] ) if you remove the syntax for an array then the error should go away. For other people

[2019-03-12 08:25] MainasuK opened #86 "execute script not return underlying error"
The result always wraps `ActionError.networkRequestFailure` when browser execute script get the error.
But the underlying WKError could be helpful and real error reason in this case.

So could we make change to return the underlying error when execute script?

[2019-05-03 19:51] marc-medley opened #87 "Question: html -> pdf?"
Can `WKZombie` be used to generate a PDF file from the rendering of a webpage via either https and/or file url? (preferrably not as a image raster which is then placed into PDF)

[2019-05-27 20:05] david-littlefield opened #88 "Help with OpenThen, Batch, Fetch Functions"
Hi @mkoehnke!

**Thank You:**
First, thank you for building this repo, I've only been able to use some of the basic features, but it's already been incredibly useful!

**Goal:**
I'm using WKZombie to open a website, login, wait for redirect, scrape video links, scrape each video source, and download the linked files. The video source is on the individual page of each video link.

**Problems:**
- S

[2019-05-30 18:39] david-littlefield opened #89 """

[2019-06-01 06:17] #89 closed, assigned to nobody

[2019-10-31 22:42] jiaxiangcheng opened #90 "Help me with the error caused by === syntax with Xcode 11.1"
I am using the Xcode version 11.1 targeting ios 12.0
![image](https://user-images.githubusercontent.com/17082256/67991211-b665be00-fc38-11e9-8c2a-bb29b9a50ee5.png)

I have just installed this framework pretending to make some automatization process with this framework on the native ios web browser. But I find this error at the beginning and I have no idea why. Can anyone help me to continue?

[2019-11-07 20:03] Stjames19 opened #91 "Trying to import swift.package"
So im trying to import the swift package, just to get the darn thing to start but i keep getting this error when ever i try to add package dependency:
The package dependency graph can not be resolved; unable find any available tag for the following requirements:

Even if I have the Package.Swift in xcode I cant import Package becasue ill get hit with the

/Users/Stjames/Desktop/Instore/Package.swi

[2019-11-29 05:25] tmr-br commented on #90
You should fix myOutput() to solve the problem:
[code]

[2020-02-05 15:13] rldaulton commented on #87
I was curious if it were possible to do something similar, also:

I looked through the code and it doesn't seem possible for either scenarios, at least right now. But I would be curious if this had been though about for potential future releases.

@mkoehnke?

[2020-04-14 10:17] nicholaswhittle opened #92 "Not opening forms and href as relative?"
When i submit a form or try to open a href, i get `network request failure`
As i think its trying to open the action without the baseurl?
for example:
[code]

where the url is relative not absolute.

Is this intentional? And is there a workaround?

Thanks

[2020-05-26 14:05] jakejcheng opened #93 "Injecting jQuery/Javascript"
Is it possible register userContentController and get the result from messageHandlers `window.webkit.messageHandlers.xxx.postMessage("")`?